[submodule "common/external/jedbrown-cmake-modules"]
	path = common/external/jedbrown-cmake-modules
	url = git://github.com/jedbrown/cmake-modules.git
[submodule "doc"]
	path = doc
	url = ssh://pamd1.sc.fsu.edu/~efb06/repos/rbffd_gpu_doc.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:bollig/rbffd_gpu_scripts.git
[submodule "external/boost-numeric-bindings"]
	path = external/boost-numeric-bindings
	url = http://git.tiker.net/trees/boost-numeric-bindings.git
